* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #4A6D8C;
}

.container{
    background-color: #393A3E;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.6);
    margin: 25vh auto;
    width: 650px;
}

.timer{
    display: flex;
    justify-content: center;
}

.display {
    width:30%;
    margin:10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    color: white;
}

.display h1{
    font-size: 8rem;
    padding:0 32px;
    height: 130px;
    margin-bottom: 10px;
}

.display:nth-child(1) h1,
.display:nth-child(2) h1{
    border-right: 1px solid white;
}

