*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    color:#fff;
}

.d-none{
    display: none !important;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #292D31;
}

section{
    display: flex;
}

.options-config{
    justify-content: space-between;
    padding:10px;
}

.transparent-box{
    background-color: rgba(0, 0, 0, 0.356);
    padding:10px 30px; 
    border-radius: 5px;
    font-size: 0.9rem;
    
}

.transparent-box select{
    background: transparent;
    border: none;
    cursor: pointer;
    outline: 0;
}

.transparent-box select option{
    background-color: #292D31;
    margin:30px;
}

.transparent-box label{
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
}

.transparent-box label input{
    width:15px;
    height: 15px;
    margin-right: 8px;
}

.display{
    justify-content:center;
}

.card-display{
    background-color: #4F4F4F;
    border-radius: 5px;
    /* padding:30px 60px; */
    margin-top: 50px;
    width: 570px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-display label{
    font-size: 6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-display label small{
    font-size: 2.5rem;
}

.btn{
    border: none;
    border-radius: 5px;
    padding:5px 10px;
    cursor: pointer;
}

.buttons{
    justify-content: center;
}

.buttons button{
    margin:30px 5px;
    padding:10px 30px;
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button:hover{
    opacity: 1;
}

.buttons button img{
    width: 18px;
    height: auto;
    margin-right: 8px;
}

.buttons button:nth-child(1){background-color: #3e85ff;}
.buttons button:nth-child(2){background-color: #EF6262;}
.buttons button:nth-child(3){background-color: #28A745;}

.table-results{
    justify-content: center;
    padding-top: 5px;
}

.table-results table{
    border-collapse: collapse;
}

.table-results table th{
    border-bottom: 3px solid #6e6e6e;
    border-left: 1px solid #6e6e6e;
    text-transform: uppercase;
    
}

.table-results table td{
    border-bottom: 1px solid #6e6e6e;
    border-left: 1px solid transparent;
}

.table-results table td, .table-results table th{
    height: 40px;
    text-align:center;
    font-size: .8rem;
}


.table-results th:nth-child(1), .table-results td:nth-child(1){width:50px; border-left: none;}
.table-results th:nth-child(2), .table-results td:nth-child(2){width:220px; text-align: left; padding-left: 0.6vw;}
.table-results th:nth-child(3), .table-results td:nth-child(3){width:220px;}
.table-results th:nth-child(4), .table-results td:nth-child(4){width:120px;}
.table-results th:nth-child(5), .table-results td:nth-child(5){width:250px; text-align: left; padding-left: 0.6vw;}
.table-results th:nth-child(6), .table-results td:nth-child(6){width:100px; text-align: left; padding-left: 0.6vw;}

.table-body{
    overflow: auto;
    height: 180px;
}

.table-results td button{
    background-color: #DC3545;
    font-size: .8rem;
    opacity: .8;
}

.table-results td button:hover{
    opacity: 1;
}

